
body{
    font-family: 'AvenirNext-Regular','Roboto Condensed', sans-serif;
    -webkit-font-smoothing: antialiased !important;
    font-size: 16px;
}

.width-control{
    max-width: 60em;
    margin: 0 auto;
}

.content{
    position: relative;
    top: 85px;
}

.spacer{
    height: 75px;
}

.email-footer{
    color: #333;
}

/*************Navbar**************/
.fixed-nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 75px;
    z-index: 99999;
    background-color: #ffffff;
}

.nav-content{
    max-width: 60em;
    margin: 0 auto;
    height: 75px;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: lightgrey;
    display: flex;
    justify-content: space-around;
}

.nav-btn{
    background-color: transparent;
    margin-top: 20px;
    border: solid;
    border-width: 1px;
    border-color: lightgrey;
    color: black;
    width: 100px;
    height: 40px;
    transition: all .5s ease-in-out;
}

.nav-btn:hover{
    transform: scale(1.2);
}

.btn-left{
    float: left;
}

.btn-right{
    float: right;
}

/****************************************/

/********* profile image effects ***************/

.title{
    font-weight: 600;
}

.profile-image-wrapper{
    margin-top: 50px;
    margin-bottom: 25px;
    height: 325px;
    position: relative;
}

#profile-image{
    height: 325px;
    width: 325px;

    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    z-index: 9999;
}

.extra-large-text{
    font-weight: 700;
}

/*****************************/

/*********** contact info **********/
.index-icon{
    font-size: 4rem;
}

.info-wrapper{
    margin-top: 50px;
    margin-bottom: 25px;
}

/********** personal *************/
.tufts-logo{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.profile-text{
    margin-top: 25px;
    margin-bottom: 25px;
}

.profile-text-right{
    margin-top: 70px;
    margin-bottom: 25px;
}

/**********************************/

/********** projects **************/
.projects-wrapper{
    margin-top: 30px;
    margin-bottom: 40px;
}

.project-slide-wrapper{
    margin: auto;
    position: relative;
    width: 273px;
    color: #404040;
    font-weight: 600;
    font-size: 1.2em;
    transition: all .5s ease-in-out;
}

.project-slide-wrapper:hover{
    transform: scale(1.2);
}

.project-slide-title{
    position: absolute;
    left: 50%;
    bottom: -25px;
    transform: translateX(-50%);
}

.project-slide{
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.75);
    border: solid;
    border-width: 1px;
    border-color: lightgrey;
}

/**********************************/

/*******All Project Pages *********/
.project-title{
    font-size: 4.4rem;
    font-weight: 500;
    margin-bottom: 25px;
}

.project-description{
    margin-bottom: 25px;
}

.small-underline{
    height: 1px;
    width: 200px;
    margin: 0 auto;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: lightgrey;
    margin-bottom: 50px;
    margin-top: 30px;
}

.tech-pics{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-bottom: 50px;
}

.tech-pics > *{
    margin: 10px;
}

.description{
    margin-bottom: 25px;
}

.center-img{
    margin: 0 auto;
}
/**********************************/

/*******Miscellaneaous Project Page*********/

#frogger-game{
    width: 565px;
    height: 600px;
}

.game-wrapper{
    width: 565px;
    height: 600px;
    margin: 0 auto;
    margin-bottom: 55px;
}

.game-pic-wrapper{
    margin-bottom: 25px;
}

#frogger-image{
   margin: 0 auto;
}

.frogger-description{
    margin-bottom: 25px;
}

.chowser-img{
    margin-bottom: 50px;
    margin-top: 50px;
    border-right: solid;
    border-right-width: 1px;
    border-right-color: grey;
}

.chowser-features-img{
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.chowser-title{
    margin-bottom: 50px;
}
/*******************************************/

/***********Texty PRoject page*************/
.texty-extra-info{
    margin-top: 30px;
    margin-bottom: 30px;
}
/******************************************/

/**********Rotorobot*******************/
.lineup-description{
    margin-top: 50px;
}

.fx-img{
    margin-top: 25px;
    margin-bottom: 25px;
}

.comming-soon{
    margin-top: 25px;
}
/*************************************/

/************Setfive*****************/
.setfive-projects-wrapper{
    margin-top: 40px;
}

.pspeak-wrapper{
    margin-top: 30px;
    margin-bottom: 30px;
}


/************************************/





