<section id="template-content-holder">

    <div class="content about-me-content">
        <div class="writing">
            <p class="text-center">
                <span class="extra-large-text">I'm</span> a software engineer from Boston
                Massachuesetts. I graduated from Tufts University in December of 2015 with a B.S. in Cognitive
                & Brain Science / Computer Science.
            </p>
            <p class="text-center">
                Here are some of the things I've built.
            </p>
        </div>
    </div>

    <div id="template-holder"></div>

    <div class="content">
        <div class="wrapper">
            <div class="features">
                <article data-template="rotorobot-template">
                    <a href="#">
                        <h3>Rotorobot</h3>
                        <p class="meta">
                            A site to aggregate and analyze aily fantasy information so you dont have to.
                        </p>
                        <div class="thumbnail" style="background-image: url(/public/images/rotorobot.jpg);"></div>
                    </a>
                </article>

                <article data-template="texty-template">
                    <a href="#">
                        <h3>Texty-Jukebox</h3>
                        <p class="meta">
                            Jukebox powered by your text messages
                        </p>
                        <div class="thumbnail" style="background-image: url(/public/images/Texty.jpg);"></div>
                    </a>
                </article>

                <article data-template="cvet-template">
                    <a href="#">
                        <h3>CVET</h3>
                        <p class="meta">
                            A little bit of frontend work
                        </p>
                        <div class="thumbnail" style="background-image: url(/public/images/cvet.jpg);"></div>
                    </a>
                </article>

                <article data-template="twitter-template">
                    <a href="#">
                        <h3>Twitter User Finder</h3>
                        <p class="meta">
                            The little challenge probelem that could... not
                        </p>
                        <div class="thumbnail" style="background-image: url(/public/images/Twitter.jpg);"></div>
                    </a>
                </article>

                <article>
                    <a href="#">
                        <h3>Setfive Summer</h3>
                        <p class="meta">
                            My last year in review
                        </p>
                        <div class="thumbnail" style="background-image: url(/public/images/setfive.jpg);"></div>
                    </a>
                </article>
                <article data-template="pspeak-template">
                    <a href="#">
                        <h3>Pspeak</h3>
                        <p class="meta">
                            An online public speaking training platform
                        </p>
                        <div class="thumbnail" style="background-image: url(/public/images/pspeak.jpg);"></div>
                    </a>
                </article>
                <article>
                    <a href="#">
                        <h3>Miscellaneous</h3>
                        <p class="meta">
                            Some ways I've chosen to spend my time.
                        </p>
                        <div class="thumbnail" style="background-image: url(/public/images/phil.jpg);"></div>
                    </a>
                </article>
            </div>
        </div>
    </div>
</section>