<section id="cvet">
    <div class="content">
        <div class="project-title-wrapper">
            <h2 class="text-center project-title">CVET</h2>
            <h4 class="title-description text-center">Customer Vaule Expert Toolset</h4>
        </div>
        <div class="fx-pic">
            <img src="/public/images/cvetlarge.jpg">
        </div>
        <div class="project-content-slide">
            <div>
                <h2>Structure is Important</h2>
                <p>
                    After working on Pspeak I was tasked with building out a brochure site for one of our clients
                    CVET, a software company that acts a s a platform for quantifying the goods and services being offered
                    by businesses. The site was in need of some serious structure, and needed to be built in a way that would allow
                    for additional content to be added painlessly in the future.
                </p>
                <p>
                    In order to give the site some structure I decided to switch it over to the Sillex web framework.  I chose Sillex
                    becuse it was a PHP based micro-frame work made up of Symfony components so any one of the other engineers in the
                    office could easily make upates if need be. I decided that becuse the site was only static content, and didn't
                    require and ORM or any way to connect to a database that the full blown Symfony2 framework would require too much
                    overhead.
                </p>
                <p>
                    In addition to the structural changes I added some updates to make the site more mobile responsive.
                </p>

            </div>
        </div>

        <div class="under-the-hood">
            <h2 class="text-center"> Under The Hood</h2>
            <div class="tech-pics">
                <img src="/public/images/html.jpg">
                <img src="/public/images/less.jpg">
                <img src="/public/images/silex.jpg">
                <img src="/public/images/bootstrap.jpg">
            </div>
        </div>
    </div>
</section>