<section id="frogger" style="display: none;">
    <div class="content">
        <div>
            <h1 class="frogger-header text-center">Jump Around</h1>
            <p class="frogger-text text-center">
                One fine, Saturday morning I happened to be particularly bored, and came
                across a sprite sheet for the game Frogger. Since this was one of my
                favorite games to play as a kid I decided to recreate it using javascript and the
                HTML5 canvas. If you're bored click inside and give it a whirl!
            </p>
        </div>
        <iframe id="frogger-game" src="/public/sites/frogger/index.html"></iframe>
        <div class="under-the-hood">
            <h2 class="text-center"> Under The Hood</h2>
            <div class="tech-pics">
                <img src="/public/images/html.jpg">
                <img src="/public/images/css.jpg">
                <img src="/public/images/javascript.jpg">
                <img src="/public/images/jquery.jpg">
            </div>
        </div>
    </div>
</section>