<section id="pspeak">
    <div class="content">
        <div class="project-title-wrapper">
            <h2 class="text-center project-title">Pspeak</h2>
            <h4 class="title-description text-center">Online public speaking training platform</h4>
        </div>
        <div class="fx-pic">
            <img src="/public/images/pspeak.jpg">
        </div>
        <div class="project-content-slide">
            <div class="texty-writing-content">
                <h2>Public Speaking For All</h2>
                <p>
                    After taking the time to familiarize myself with the Symfony2 web framework I was given my first client project Pspeak.com.
                    It was a patform to help individuals with their public speaking woes. It was in need of some serious front end loving and
                    I was the guy for the job. The front end of the site was built primarily using Bootstrap, jQuery, and LESS.
                </p>
                <p>
                    Working  on the front end helped me improve my skills using the bootstrap framework, but more improtantly than that it helped
                    me improve my concept of web page layout.
                </p>
                <p>
                    In addition to the front end work I was tasked with updating backend code to handle pricing and making some improvements
                    to their sytem that handled cycling coupon codes for users.
                </p>
            </div>
            <div class="texty-writing-content">
                <h2>Communication is Key</h2>
                <p>
                    In building the site I had the opportunity to work alongside both designers and engineers. It was an incredibly rewarding
                    experince that taught me a lot about working in a team setting, and effectivley communicating with all members of a cross
                    functional team.
                </p>
                <p>
                    It's very easy to forget that not everyone is an engineer and knows the differnence between DOM manipulation using JQuery
                    and a CSS transition. When working on a team being able to ask the right questions and help someone understand the technical solutions that you are
                    implementing to bring their ideas to frution is just as, if not more important, than writing the code itself.
                </p>
            </div>

        </div>

        <div class="under-the-hood">
            <h2 class="text-center"> Under The Hood</h2>
            <div class="tech-pics">
                <img src="/public/images/html.jpg">
                <img src="/public/images/less.jpg">
                <img src="/public/images/symfony2.jpg">
                <img src="/public/images/jquery.jpg">
                <img src="/public/images/bootstrap.jpg">
            </div>
        </div>
    </div>
</section>