<section id="texty">
    <div class="content">
        <div class="project-title-wrapper">
            <h2 class="text-center project-title">Texty-Jukebox</h2>
            <h4 class="title-description text-center">A jukebox powered by text-messages that helps you and your friends keep the party going.</h4>
        </div>
        <div class="project-content-slide">
            <div class="texty-writing-content">
                <h2>Allow your night to be powered by the people who matter most.</h2>
                <p>
                    Picture the scene, it’s Friday night, you’ve got friends over and everyone wants to listen to some great music.
                    The problem is everyone wants to jam to something different and you’re not thrilled to sit by your laptop all
                    night. Enter, the TxtyJukebox.
                </p>
                <p>
                    TxtyJukebox lets you setup an event which creates you a unique number which users can text in song requests to.
                    As TxtyJukebox receives song requests, it searches YouTube for music videos and then places the videos into your
                    event’s queue. And then if you hook up TxtyJukebox to a TV you’ll be able to jam to videos on a big screen with big room sound.
                </p>
            </div>
            <div class="texty-writing-image">
                <img src="/public/images/texty-image1.jpg">
            </div>
        </div>

        <div class="project-content-slide">
            <div class="texty-writing-image">
                <img class='gif' src="/public/images/apppic.gif">
            </div>
            <div class="texty-writing-content">
                <h2>Sometimes it feels like you need to download an app to do anything.</h2>
                <p>
                    The driving force behind this application was ACCESSABILITY. Everywhere you turn
                    it seems like you are being pestered to download somebody's app no matter how small
                    the service.
                </p>
                <p>
                    I wanted to build something that could be used by everyone seamlessly, and cell phones
                    are a ubiquitous part of life. Text-messaging seemed like the most natural way for people
                    to communicate so I chose it as the mudium to build the app around.
                </p>
            </div>
        </div>
        <div class="under-the-hood">
            <h2 class="text-center"> Under The Hood</h2>
            <div class="tech-pics">
                <img src="/public/images/html.jpg">
                <img src="/public/images/css.jpg">
                <img src="/public/images/symfony2.jpg">
                <img src="/public/images/javascript.jpg">
                <img src="/public/images/jquery.jpg">
                <img src="/public/images/underscore.png">
            </div>
            <p>
                The webapp itself is a standard Symfony2 app along with the usual suspects – Bootstrap,
                Underscore, and a sprinkling of jQuery. Along with that, it uses Twillio’s REST API to handle
                SMS along with a “webhook” from Twillio to the webapp to recieve messages. In addition, it is
                leveraging the YouTube API to search and load videos which are then loaded into an iframe.
            </p>
        </div>
    </div>
</section>