<section id="Twitter">
    <div class="content">
        <div class="project-title-wrapper">
            <h2 class="text-center project-title"><img src="/public/images/twitterlogo.jpg"> Twitter User Finder</h2>
            <h4 class="title-description text-center">
                The little challenge problem that could.... not.
            </h4>
        </div>
        <div>
            <div>
                <h2 class="text-center">The Job Search is Tough</h2>
                <p>
                    Recently I've been looking for a change, and decided to put myself through the dreaded job hunt.
                    On one of my more recent interviews, an interview for a full stack engineering positon at a company located in
                    San francisco, I was asked to complete a challenge problem with a deadline to show off my coding chops.
                    Having already passed the prelim, "yes you know what code is" phone screening I was excited to be able to build
                    something without the stress of someone watching what I was typing or writing on a whiteboard.
                </p>
                <p>
                    I was tasked with building an application that would allow individuals to search for Twitter Users, display
                    their most recent tweets, and to allow the filtering of said tweets by their number of retweets.
                </p>
                <p>
                    I decided to implement a single page application by connecting an Angularjs fornt end with a Nodejs backend. I
                    really wanted my project to stand out from the rest so I added additional functionality to it. I used a debounce
                    factory service to implement an autocomplete search feature and added a 3-dimensional, mobile responsive Angular
                    carousel to display a users tweets.
                </p>
                <div class="fx-pic">
                    <img src="/public/images/carousel.jpg">
                </div>
                <h3>Don't forget the fundies.</h3>
                <p>
                    When I was finally finished the project was put up on an Amazon ec2 instance, and I waited for for the praise I was
                    sure I would recieve. Unfortunately, having focused so much time and energy on the looks and functionality of the
                    challenge I failed to see the real goal.
                </p>
                <p>
                    I was rushing so much that I missed the fundamentals. The overall structure of my application was non-existent, and I
                    failed to use clearly defined models to structure my data. As you probably know by this point I didnt get the job haha.
                    However it was already up on an ec2 instance that only costs me 60 cents a month so I figured that it was worth it to just
                    leave it up rather than let it fade into oblivon in a cold Git repository.
                </p>
            </div>
        </div>

        <div class="under-the-hood">
            <h2 class="text-center">Under The Hood</h2>
            <div class="tech-pics">
                <img src="/public/images/bootstrap.jpg">
                <img src="/public/images/css.jpg">
                <img src="/public/images/angualr.jpg">
                <img src="/public/images/node.jpg">
            </div>
        </div>

        <div>
            <h3> P.S. Incase you happen to be in need of an angular debounce factory service I got you covered!</h3>
            <div>
                <script src="https://gist.github.com/pbooth01/2d9ee35c128ee68790a32130010ddb2b.js"></script>
            </div>
        </div>
    </div>
</section>